#head_background{
    width:100%;
    height:80px;
    position:fixed;
    background-color: black;
   opacity: 0.5;
    z-index: 10;
}

header{
    width:100%;
    height:80px;
    position:fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#left_logo{
    margin-left:60px;
    display: inline-flex;
}
#logo{
    width:78px;
    height:80px;
    top:0;
    margin-right: 35px;
}
#title{
    color:white;
    font-size: 28px;
    font-weight: bold;
    line-height: 80px;
}

.head_font{
    font-size: 18px;
    z-index: 10;
}
