.content-link{
    color: #333;
    font-size: 16px;
   
}
.content-time{
   
    color: crimson;
    font-size: 16px;    
    margin-left: 40px;
}
.warp{
    margin-bottom: 20px;
}

.pic{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 700px;
    right: 10px;
}